img{
  width:200px;
  height:300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://upload.wikimedia.org/wikipedia/ru/thumb/2/21/Warcraft_poster.jpg/270px-Warcraft_poster.jpg");
}
.errorMessage{
  font-size: 20px;
  color: rgb(255, 0, 0);
}
