<div class = "forgotPassword">
    <form>
        <p>
            <label for="email" id = "labelEmail">Email:</label>
            <input type="email" name="email" id="email" [(ngModel)]="this.postRequestForgotPasswordModel.email" placeholder="karamba@gmail.com">
        </p>
        <p>
            <label for="password" id = "labelNewPassword">New password:</label>
            <input type="password" name="password" id="newPassword" [(ngModel)]="this.postRequestForgotPasswordModel.password" placeholder="karamba@gmail.com">
        </p>
        <p>
            <label for="confirmPassword" id = "labelConfirmNewPassword">Confirm new password:</label>
            <input type="password" name="confirmNewPassword" id="confirmNewPassword" [(ngModel)]="this.postRequestForgotPasswordModel.confirmPassword" placeholder="karamba@gmail.com">
        </p>
        <p class="forgot-submit">
            <button type="submit" (click)="this.forgot()" class="login-button">Reset password</button>
        </p>

        <p>
            <label for="messege">{{this.baseResponseModel.message}}</label>
        </p>
    </form>
</div>