<div class = "forgotPassword">
    <form [formGroup] = "forgotPasswordForm">
        <p>forgotPassword</p>

        <div class="form-group">
            <label for="email" id = "labelEmail">Email:</label>
            <input type="email" name="email" formControlName="email" id="email" [(ngModel)]="this.postRequestForgotPasswordModel.email" placeholder="karamba@gmail.com">
        </div>

        <div class="errorMessage" *ngIf="forgotPasswordForm.controls.email.invalid 
        && forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.dirty">Invalid email</div>
        <br>

        <div class="form-group">
            <label for="password" id = "labelNewPassword">New password:</label>
            <input type="password" name="password" formControlName="password" id="newPassword" [(ngModel)]="this.postRequestForgotPasswordModel.password" placeholder="karamba@gmail.com">
        </div>

        <div class="errorMessage" *ngIf="forgotPasswordForm.controls.password.invalid 
        && forgotPasswordForm.controls.password.touched && forgotPasswordForm.controls.password.dirty">
          
          <div class="errorMessage" *ngIf="forgotPasswordForm.controls.password.errors.minlength != null">
            Minimum password length {{forgotPasswordForm.controls.password.errors.minlength.requiredLength}} characters,
            {{forgotPasswordForm.controls.password.errors.minlength.requiredLength - forgotPasswordForm.controls.password.errors.minlength.actualLength}} characters missing
          </div>
    
          <div class="errorMessage" *ngIf="forgotPasswordForm.controls.password.errors.pattern != null">
              At least 1 uppercase letter 1 lowercase letter 1 number
          </div>
          
        </div>
        <br>

        <div class="form-group">
            <label for="confirmPassword" id = "labelConfirmNewPassword">Confirm new password:</label>
            <input type="password" name="confirmNewPassword" formControlName="confirmNewPassword" id="confirmNewPassword" [(ngModel)]="this.postRequestForgotPasswordModel.confirmPassword" placeholder="karamba@gmail.com">
        </div>   

        <div class="errorMessage" *ngIf="forgotPasswordForm.controls.password.value != forgotPasswordForm.controls.confirmNewPassword.value
        && forgotPasswordForm.controls.confirmNewPassword.touched && forgotPasswordForm.controls.confirmNewPassword.dirty ">Confirmed password does not match password</div>
        <br>

        <p class="forgot-submit">
            <button type="submit" (click)="this.forgot()" class="login-button" [disabled]="forgotPasswordForm.invalid">Reset password</button>
        </p>

        <br>

        <label for="messege">{{this.baseResponseModel.message}}</label>
        
    </form>
</div>