<p>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" [(ngModel)]="this.postRequestForgotPasswordModel.email" placeholder="karamba@gmail.com">
</p>
<p>
    <label for="password">New password:</label>
    <input type="password" name="password" id="password" [(ngModel)]="this.postRequestForgotPasswordModel.password" placeholder="karamba@gmail.com">
</p>
<p>
    <label for="confirmPassword">Confirm new password:</label>
    <input type="password" name="confirmPassword" id="confirmPassword" [(ngModel)]="this.postRequestForgotPasswordModel.confirmPassword" placeholder="karamba@gmail.com">
</p>
<p class="forgot-submit">
    <button type="submit" (click)="this.forgot()" class="login-button">Изменить пароль</button>
</p>

<p>
    <label for="messege">{{this.baseResponseModel.message}}</label>
</p>