@mixin global($height, $width, $background) {
    height: $height;
    width: $width;
    background: $background;
}

.email{
    top: 11px;
    right: 165px;
}

.headerIcon{
    width: 1px;
}

.header{
    display: grid;
    grid-template-columns: auto;
    @include global(70px,100% ,rgb(15, 27, 70));
}

.button{
    @include global(45px,140px ,rgb(38, 0, 99));
    color:white ;
    border-radius: 25px;
    font-family: 'mv boli';
    font-size: 21px;
    position: absolute;
}

.button-home{
    top: 11px;
    left: 100px;
    right: 10px;
}

.button-registration{
    top: 11px;
    right: 165px;
}

.button-login{
    top: 11px;
    right: 10px;
}

.button-singOut{
    top: 11px;
    right: 10px;
}
