<div class = "registration">
    <form>
      <p>Registration</p>
      <p>
        <label for="email" id = labelEmail>Email:</label>
        <input type="email" name="email" id="email" [(ngModel)]="postRequestLoginModel.email" placeholder="karamba@gmail.com">
      </p>
  
      <p>
        <label for="password" id = labelPassword>Password:</label>
        <input type="password" name="password" id="password" [(ngModel)]="postRequestLoginModel.password" placeholder="Rakamakafo111">
      </p>

      <p>
          <label for="confirmPassword" id = labelConfirmPassword>Confirm Password:</label>
          <input type="password" name="confirmPassword" id="confirmPassword" [(ngModel)]="postRequestLoginModel.password" placeholder="Rakamakafo111">
      </p>
  
      <p class="registration-submit">
        <button type="submit" (click)="this.login()" class="login-button">Ok</button>
      </p>
    </form>
</div>
