<div class = "login">
  <form>
    <p>Login</p>
    <p>
      <label for="email" id = 'labelEmail'>Email:</label>
      <input type="email" name="email" id= "email" [(ngModel)]="postRequestLoginModel.email" placeholder="karamba@gmail.com">
    </p>

    <p>
      <label for="password" id = 'labelPassword'>Password:</label>
      <input type="password" name="password" id= "password" [(ngModel)]="postRequestLoginModel.password" placeholder="Rakamakafo111">
    </p>
    <p>
        <a href="/forgotPassword" id= "forgotPassword">Forgot password?</a>
    </p>

    <p class="login-submit">
      <button type="submit" (click)="this.login()" class="login-button">Sing-In</button>
    </p>


  </form>
</div>