<div class = "login">
  <form [formGroup]="loginForm">
    <p>Login</p>

    <div class="form-group">
      <label for="email" id = 'labelEmail'>Email:</label>
      <input type="email" name="email" formControlName="email" [(ngModel)] ="postRequestLoginModel.email" id= "email" placeholder="*Email">
    </div>

    <div class="errorMessage" *ngIf="loginForm.controls.email.invalid 
    && loginForm.controls.email.touched && loginForm.controls.email.dirty">Invalid email</div>
    <br>
    
    <div class="form-group">
      <label for="password" id = 'labelPassword'>Password:</label>
      <input type="password" name="password" formControlName="password" [(ngModel)] ="postRequestLoginModel.password" id= "password" placeholder="*Password">
    </div>
    
    <div class="errorMessage" *ngIf="loginForm.controls.password.invalid 
    && loginForm.controls.password.touched && loginForm.controls.password.dirty">
      
      <div class="errorMessage" *ngIf="loginForm.controls.password.errors.minlength != null">
        Minimum password length {{loginForm.controls.password.errors.minlength.requiredLength}} characters,
        {{loginForm.controls.password.errors.minlength.requiredLength - loginForm.controls.password.errors.minlength.actualLength}} characters missing
      </div>

      <div class="errorMessage" *ngIf="loginForm.controls.password.errors.pattern != null">
          At least 1 uppercase letter 1 lowercase letter 1 number
      </div>
      
    </div>
    <br>

    <p>
        <a href="/auth/forgotPassword" id= "forgotPassword">Forgot password?</a>
    </p>

    <p class="login-submit">
      <button type="submit" (click)="this.login()" class="login-button" [disabled]="loginForm.invalid">Sing-In</button>
    </p>

  </form>

</div>